
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar{
    display: flex;
justify-content: space-between;
    align-items: center;
    padding: 14px 60px;
    background-color: #ffffff;
}

/* Logo */
.logo{
    flex: 1;
}

.logo img{
    width: 145px;
    height: auto;
}

/* Navigation Links */
.nav-links{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    

}

.nav-links a{
    text-decoration: none;
    color: #666666;
    font-size: 18px;
    font-weight: 500;
}

/* Button */
.register01-btn{
    background-color: #2952E3;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* banner section */

.banner{
background-size: cover;
background-position: center;

align-items: center;
text-align: center;

}

.register02-btn{
    background-color: #2952E3;
    color: white;
    border: none;
    padding: 18px 55px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}




.banner{
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;

    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;



box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.35);

}

.banner-content{
    max-width: 850px;
}


.banner-content h1{
    color: white;
    
    margin-bottom: 25px;

    
    font-size: 72px;
    font-weight: 700;
}


.banner-content p{
    color: #d1d5db;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 700px;
}





/* Speakers Section */

.speakers-section{
    padding: 90px 80px;
    background-color: white;
}

.section-title{
    text-align: center;
    font-size: 48px;
    font-weight: 700;

    margin-bottom: 60px;
}

.speaker-container{
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

    max-width: 1200px;

    margin: 0 auto;
}



.speaker-card{
    border: 1px solid #E5E7EB;

    border-radius: 10px;

    overflow: hidden;

    background-color: white;
}

.speaker-card img{
    width: 100%;

    height: 280px;

    object-fit: cover;
}

.speaker-info h5{
    color: #2952E3;

    font-size: 12px;

    margin-bottom: 8px;

    text-transform: uppercase;
}


.speaker-info h3{
    font-size: 24px;

    margin-bottom: 8px;
}


.speaker-info p{
    color: #666666;

    font-size: 14px;
}



/* Pricing Section */

.pricing{
    padding: 100px 80px;
    text-align: center;
}

.pricing h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.pricing-subtitle{
    color: gray;
    margin-bottom: 50px;
}

.pricing-cards{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card{
    width: 320px;
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    text-align: left;
    background-color: white;
}

.card h5{
    color: gray;
    margin-bottom: 10px;
}

.card h3{
    font-size: 42px;
    margin-bottom: 5px;
}

.card p{
    color: gray;
    margin-bottom: 20px;
}

.card ul{
    margin-bottom: 25px;
    padding-left: 18px;
}

.card ul li{
    margin-bottom: 10px;
}

.price-btn{
    width: 100%;
    padding: 12px;
    border: 1px solid #2952E3;
    border-radius: 8px;
    background: white;
    color: #2952E3;
    font-weight: 600;
    cursor: pointer;
}

/* Middle Card */

.pro{
    background-color: #0F1C2E;
    color: white;
}

.pro p{
    color: #d1d1d1;
}

.pro-btn{
    background-color: #2952E3;
    color: white;
    border: none;
}